/*
author: Wenrui Wu
*/

body{
	font-size: 12pt;
	font-family: "Cambria", "Arial", sans-serif;
	background-color: #99ffff;
	padding-top: 70px;
	padding-bottom: 30px;
}

#intro {
	overflow: hidden;
}

.left-col-pic {
	float: left;
	clear: left;
	padding-right: 20px;
}

.info-title {
	font-weight: bold;
	text-decoration: underline;
	color: #666666;
}

.notification, .list-title, .title, .panel-title {
	font-weight: bold;
}

.notification {
	color: red;
}

.container > .entries {
	overflow: hidden;
}

.entries > div {
	border: grey solid 2px;
	float: left;
	clear: both;
	margin: 5px;
	padding: 10px;
}

.big-font {
	font-size: 20pt;
}

.source-code-sect {
	font-size: 16pt;
	text-decoration: underline;
	color: #428BDC;
}

.video-block {
	margin: 10px;
}

.secret {
	background-color: black;
	color: black;
}

/*so that dropdown menu no longer needs to be clicked*/
.dropdown:hover .dropdown-menu {
    display: block;
 }